<div class="preview"
     [style.width.px]="40*draftWidth"
     [style.height.px]="40*draftHeight"
     [ngClass]="currentFormat">
  <div *ngIf="!isLastSlide" class="content">
    <div class="product"
         [ngStyle]="{'background-color': isOddSide ? (setupView.color_background_d | color) : (setupView.color_background_c | color)}"
         [ngClass]="{'odd-side' :isOddSide}">
      <div class="product__img"
           [style.backgroundColor]="setupView.color_background_a | color">
        <div class="img-position-center"
             [ngStyle]="{'background-image': 'url('+customizeService.previewSlide?.image+')'}"></div>
      </div>
      <div class="product__info">
        <div class="product__title">
          <textarea [value]="customizeService.previewSlide?.title"
                    [ngStyle]="{'color': setupView.color_title | color}"
                    (input)="customizeService.previewSlide.title = $event.target.value"
                    [appFontSize]="customizeService.previewSlide?.title"
                    [limitSizeList]="[100,75]"
                    [fontSizeList]="currentFormat === 'square' ? [14,17] : [19,23.2]"
                    [appFontColor]="'color_title'"
                    (currentElement)="customizeService.propertyTextColor = $event"
                    maxlength="100"
                    pTooltip="Maximum 100 symbols" tooltipPosition="top"
                    tooltipEvent="focus" tooltipStyleClass="tooltip-slide"
                    class="product__title_input edit-overlay"></textarea>
        </div>
        <div class="product__price">
          <input [value]="customizeService.previewSlide?.price"
                 [ngStyle]="{'color': setupView.color_price | color}"
                 (input)="customizeService.previewSlide.price = $event.target.value"
                 [appFontColor]="'color_price'" (currentElement)="customizeService.propertyTextColor = $event"
                 maxlength="11"
                 pTooltip="Maximum 11 symbols" tooltipPosition="top"
                 tooltipEvent="focus" tooltipStyleClass="tooltip-slide"
                 class="product__price_input edit-overlay">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLastSlide" class="content"
       [ngStyle]="{'background-color': setupView.color_background_f | color}">
    <div class="last">
      <div class="last__sale-header">
        <input [value]="setupView.sale_header"
               [ngStyle]="{'color': setupView.color_sale_header | color}"
               (input)="setupView.sale_header = $event.target.value"
               [appFontColor]="'color_sale_header'" (currentElement)="customizeService.propertyTextColor = $event"
               maxlength="12"
               pTooltip="Maximum 12 symbols"
               tooltipPosition="top"
               tooltipEvent="focus"
               tooltipStyleClass="tooltip-slide"
               class="last__sale-header_input edit-overlay">
      </div>
      <div class="last__sale-message">
        <input [value]="setupView.sale_message"
               [ngStyle]="{'color': setupView.color_sale_message | color}"
               (input)="setupView.sale_message = $event.target.value"
               [appFontColor]="'color_sale_message'" (currentElement)="customizeService.propertyTextColor = $event"
               maxlength="12"
               pTooltip="Maximum 12 symbols"
               tooltipPosition="top"
               tooltipEvent="focus"
               tooltipStyleClass="tooltip-slide"
               class="last__sale-message_input edit-overlay">
      </div>
    </div>
  </div>
</div>

<div class="sketch-box" [ngClass]="currentFormat">
  <!--SLIDES LIST-->
  <div class="sketch-box__border-bottom"
       *ngFor="let product of customizeService.productList; index as i; odd as odd"
       [ngClass]="{'sketch-box__item-active': i === customizeService.activeSlide}">
    <div class="sketch-box__item"
         [style.width.px]="16*draftWidth"
         [style.height.px]="16*draftHeight"
         (click)="addSlideToPreview(i, odd, false)"
         [ngClass]="currentFormat">
      <div class="content">
        <div class="product"
             [ngStyle]="{'background-color': odd ? (setupView.color_background_d | color) : (setupView.color_background_c | color)}"
             [ngClass]="{'odd-side' :odd}">
          <div class="product__img"
               [style.backgroundColor]="setupView.color_background_a | color">
            <div class="img-position-center"
                 [ngStyle]="{'background-image': 'url('+product?.image+')'}"></div>
          </div>
          <div class="product__info">
            <div class="product__title"
                 [ngStyle]="{'color': setupView.color_title | color}"
                 [appFontSize]="product?.title" [limitSizeList]="[100,75]"
                 [fontSizeList]="currentFormat === 'square' ? [6,7] : [7,9.2]">
              {{product?.title}}
            </div>
            <div class="product__price"
                 [ngStyle]="{'color': setupView.color_price | color}">
              {{product?.price}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="sketch-box__item_number">{{i+1}}</p>
  </div>
  <!--LAST SlideParams-->
  <div class="sketch-box__border-bottom"
       [ngClass]="{'sketch-box__item-active': customizeService.productList.length === customizeService.activeSlide}">
    <div class="sketch-box__item sketch-box__item_last">
      <div class="sketch-box__item"
           [ngClass]="currentFormat"
           [style.width.px]="16*draftWidth"
           [style.height.px]="16*draftHeight"
           (click)="addSlideToPreview(customizeService.productList.length, false, true)">
        <div class="content"
             [ngStyle]="{'background-color': setupView.color_background_f | color}">
          <div class="last"
               [ngClass]="currentFormat">
            <div class="last__sale-header"
                 [ngStyle]="{'color': setupView.color_sale_header | color}">
              {{setupView.sale_header}}
            </div>
            <div class="last__sale-message"
                 [ngStyle]="{'color': setupView.color_sale_message | color}">
              {{setupView.sale_message}}
            </div>
          </div>
        </div>
      </div>
      <p class="sketch-box__item_number">{{customizeService.productList.length+1}}</p>
    </div>
  </div>
  <!--PREVIEW SLIDE-->
  <div class="sketch-box__border-bottom draft-preview">
    <div class="sketch-box__item"
         [style.width.px]="16*draftWidth"
         [style.height.px]="16*draftHeight"
         [ngClass]="currentFormat">
      <div class="wrapper-animation-play">
        <div class="play-animation"
             (click)="showPreviewDraft()">
          <span>&#9658;</span>
        </div>
      </div>
      <div class="content">
        <div class="product"
             [ngStyle]="{'background-color': setupView.color_background_c | color}">
          <div class="product__img"
               [style.backgroundColor]="setupView.color_background_a | color">
            <div class="img-position-center"
                 [ngStyle]="{'background-image': 'url('+customizeService.productList[0]?.image+')'}"></div>
          </div>
          <div class="product__info">
            <div class="product__title"
                 [ngStyle]="{'color': setupView.color_title | color}"
                 [appFontSize]="customizeService.productList[0]?.title"
                 [limitSizeList]="[100,75]"
                 [fontSizeList]="currentFormat === 'square' ? [6,7] : [7,9.2]">
              {{customizeService.productList[0]?.title}}
            </div>
            <div class="product__price"
                 [ngStyle]="{'color': setupView.color_price | color}">
              {{customizeService.productList[0]?.price}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="sketch-box__item_number">preview</p>
  </div>
</div>
