<div class="sketch-box animation">
  <div class="sketch-box__item"
       [style.width.px]="16*draftWidth"
       [style.height.px]="16*draftHeight">
    <div class="wrapper-animation-play"
         *ngIf="!isPlay">
      <div class="play-animation"
           (click)="showAnimation(true)">
        <span>&#9658;</span>
      </div>
    </div>
    <div class="content">
      <div class="content_background img-position-center"
           [ngClass]="{'img-rotate-move': isAnimation}"
           [ngStyle]="{'background-image': 'url('+product?.image+')'}">
      </div>
      <div class="content__top_bg"
           [ngStyle]="{'background-color': setupView.params.color_title_background | color}"></div>
      <div class="content__top_title">
        <div class="content__top_title-title"
             [ngStyle]="{'color': setupView.params.color_title | color}"
             [appFontSize]="product?.title"
             [limitSizeList]="[100,50]"
             [fontSizeList]="[7*ratio,8.5*ratio]">
          {{product?.title}}
        </div>
        <div class="content__top_title-discount"
             [ngStyle]="{'color': setupView.params.color_discount | color,
             'font-size': 10*ratio +'px'}">
          {{setupView.params.discount}}
        </div>
      </div>
      <div class="content__bottom"
           [ngClass]="{'swipe-move': isAnimation}">
            <span class="content__bottom__swipe"
                  [ngStyle]="{'color': setupView.params.color_swipe | color,
                  'font-size': 22*ratio +'px'}">^
            </span>
      </div>
    </div>
  </div>
</div>
