.business {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  z-index: 100;
}
